<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <!-- Products -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-shop"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/products">
                        <i class="bi bi-circle"></i><span>Products</span>
                    </a>
                </li>
                <li>
                    <a href="/Products/Add">
                        <i class="bi bi-circle"></i><span>Add Product</span>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Category -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-category" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Category</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-category" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/category">
                        <i class="bi bi-circle"></i><span>Category</span>
                    </a>
                </li>
                <li>
                    <a href="/category/Add">
                        <i class="bi bi-circle"></i><span>Add Category</span>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Brands -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-brand" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Brands</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-brand" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/brand">
                        <i class="bi bi-circle"></i><span>Brands</span>
                    </a>
                </li>
                <li>
                    <a href="/brand/Add">
                        <i class="bi bi-circle"></i><span>Add Brands</span>
                    </a>
                </li>

            </ul>
        </li>


    </ul>

</aside><!-- End Sidebar-->